/*
Primary: #2196F3
Dark Primary: #1976D2
Light Primary: #BBDEFB
Text / Icons: #FFFFFF (white)
Accent: #FF5722
Primary Text: #212121
Seconary Text: #757575
Divider: #BDBDBD
*/

/*html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/


/*body {
    margin: 0;
    background-color: #f6f6f6;
}*/

html {
  scroll-behavior: smooth;
 }

body {
    background: url(../images/ocean.jpg);
    background-size: cover;
    font-family: "Calibri", Times, serif;
}

header {
    background-color: #1976D2;
    color: white;
    text-align: center;
    margin: 0 auto; left:0px; right:0px;
}

/* MENU TABS START */
ul {
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    color: white;
    display:table;
}

ul li {
 float: left;
 width: 200px;
 height: 40px;
 background-color: black;
 opacity: .8;
 line-height: 40px;
 text-align: center;
 font-size: 20px;
}

ul li a {
 text-decoration: none;
 color: white;
 display: block;
}

ul li a:hover {
 background-color: blue;
}

ul li ul li{
 display: none;
}

ul li:hover ul li {
 display: block;
}
/* MENU TABS END*/

nav {
    max-width: 1024px;
    margin: auto;
    padding: 1em;
}

footer {
    width: 100%;
    text-align: center;
}

.header {
  position: fixed;
  margin: 0px auto;
  top: 0px;
  z-index: 9;
}

.header-title {
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em;
    display: inline-block;
}

.nav-buttons {
    display: inline-block;
}

nav a, nav a:visited {
    display: inline-block;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    padding: 1em;
}

nav a:hover {
    color: #BDBDBD;
}

.content {
    background-color: white;
    box-sizing: border-box;
    max-width: 1024px;
    min-height: 10vw;
    margin: 0px auto;
    margin-top: 150px;
    padding: 0.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chart {
    flex-grow: 1;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 368px) {
    .chart {
        height: 400px;
        min-width: 368px;
    }
}

@media (max-width: 367px) {
    .chart {
        height: 320px;
        min-width: 300px;
    }
}

.blog-entry {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    padding: 1em;
}

.strike {
    text-decoration: line-through;
}

.old-company {
    text-decoration: line-through;
    font-size: 80%;
}

.new-company {
    font-weight: bold;
    font-size: 120%;
    /*color: #1976D2;*/
}

.map {
    height: 40em;
}

#feedback {
  font: bold;
  font-size:  3em;
  text-decoration: none;
  background-color: #2a4f8f;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;

}

.feedback {
    text-align: center;
    padding-top: 2em;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33.00%;
  padding: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.zoom_max {
transition:transform 0.25s ease;
}

.zoom_max:hover {
    -webkit-transform:scale(1.75); /* or some other value */
    transform:scale(1.75);
}

.zoom_min {
transition:transform 0.25s ease;
}

.zoom_min:hover {
    -webkit-transform:scale(1.2); /* or some other value */
    transform:scale(1.2);
}

/* Clear floats after image containers */
.row {
  content: "";
  clear: both;
  display: flex;
  justify-content: center;
}

/* Fixes a "hidden" position for headers so scrolling scrolls to the intended header */
h1::before { 
  display: block; 
  content: " "; 
  margin-top: -150px; 
  height: 150px; 
  visibility: hidden; 
  pointer-events: none;
}

h2::before { 
  display: block; 
  content: " "; 
  margin-top: -150px; 
  height: 150px; 
  visibility: hidden; 
  pointer-events: none;
}

h3::before { 
  display: block; 
  content: " "; 
  margin-top: -150px; 
  height: 150px; 
  visibility: hidden; 
  pointer-events: none;
}
